[ 
  {
    "id" : 1, 
    "firstName" : "First",
    "lastName" : "Last",
    "addressLine1" : "Unit 3",
    "addressLine2" : "123 Sample Street",
    "suburb" : "Mt Eden",
    "city" : "Auckland",
    "country" : "New Zealand"
  },
  {
  "id" : 2, 
  "firstName" : "First2",
  "lastName" : "Last2",
  "addressLine1" : "Unit 4",
  "addressLine2" : "456 Sample Street",
  "suburb" : "Mt Eden",
  "city" : "Auckland",
  "country" : "New Zealand"
  }
]