{
  "id" : 1, 
  "firstName" : "First",
  "lastName" : "Last",
  "addressLine1" : "Unit 3",
  "addressLine2" : "123 Sample Street",
  "suburb" : "Mt Eden",
  "city" : "Auckland",
  "country" : "New Zealand"
}